{% extends 'zal/base.html' %}

{% block content %}
        <div class="post">
        {% if post.published_date %}
    </div>
        <div class="date">
        {{ post.published_date }}
    </div>
        {% endif %}
       {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    <hr>

<div data-gb-custom-block data-tag="for"></div>

    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>

<div data-gb-custom-block data-tag="empty">
        <a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.id %}" data-0='add_comment_to_post'> Dodaj komentarz</a>
    <p>Nie ma jeszcze żadnych komentarzy, bądź pierwszy!</p>

</div>
{% endblock %}